<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Libelle</th>
        <th scope="col">Adresse</th>
        <th scope="col">CP_Ville</th>
        <th scope="col">Telephone</th>
        <th scope="col">lat</th>
        <th scope="col">lng</th>
        <th scope="col">extra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of stores;  let i = index">
          <th scope="row">{{i + 1}}</th>
          <td><a routerLink="/detail/{{i}}">{{store.Nom}}</a></td>
          <td>{{store.Libelle}}</td>
          <td>{{store.Adresse1}}</td>
          <td>{{store.CP_Ville}}</td>
          <td>{{store.Telephone}}</td>
          <td>{{store.lat}}</td>
          <td>{{store.lng}}</td>
          <td>{{store.extra}}</td>
        </tr>
    </tbody>
  </table>