<div class="container">
  <h1>{{store?.Nom}}</h1>
  <ul>
    <li><strong>Libelle :</strong> {{store?.Libelle}}</li>
    <li><strong>Adresse :</strong> {{store?.Adresse1}}</li>
    <li><strong>Adresse :</strong> {{store?.Adresse1}}</li>
    <li><strong>CP_Ville :</strong> {{store?.CP_Ville}}</li>
    <li><strong>Telephone :</strong> {{store?.Telephone}}</li>
    <li><strong>Latitude :</strong> {{store?.lat}}</li>
    <li><strong>Longitude :</strong> {{store?.lng}}</li>
    <li><strong>Extra :</strong> {{store?.extra}}</li>
  </ul>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button *ngIf="id!==0" type="button" routerLink="/detail/{{id-1}}" class="btn btn btn-primary">Previous Store</button>
    <button type="button" routerLink="/stores" class="btn btn-secondary">Back to the Stores</button>
    <button type="button" routerLink="/detail/{{id+1}}" class="btn btn btn-primary">Next Store</button>
  </div>
</div>